footer {
    text-align: left;
    width: 1000px;
    margin: 3rem auto;
}

#footer-links {
    list-style: none;
    
    li {
        display: inline-block;
        text-transform: uppercase;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: #00376B;
        font-size: 0.75rem;
        font-weight: 700;
    }
}

#copyrigth