#get-app-container {
   text-align: center;
   width: 350px;
   
   p {
       margin: 20px 0;
       font-size: 13px;
   }

   a {
       text-decoration: none;
   }

   img {
       width: 8.5rem;
       height: 3.5rem;
   }
}