/* CONTAINERS */

#main-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

#banner-container, #form-container {
    flex: 1 1 0;
    width: 50%;
}

#banner-container {
    text-align: right;

    img {
        margin-right: ;
    }
}